job: extension
config:
  name: last
  process:
  - type: diffusion_trainer
    training_folder: /app/checkpoints
    device: cuda
    network:
      type: lora
      linear: 128
      linear_alpha: 128
    save:
      dtype: bf16
      save_every: 250
      max_step_saves_to_keep: 4
      save_format: diffusers
    datasets:
    - folder_path: /dataset/images
      caption_ext: txt
      cache_latents_to_disk: true
      resolution: [768, 1024]
      is_reg: false
    train:
      batch_size: 4
      steps: 5000
      lr: 5e-5
      optimizer: adamw
      gradient_checkpointing: true
      noise_scheduler: flowmatch
      timestep_type: weighted
      dtype: bf16
      cache_text_embeddings: true
      train_unet: true
      train_text_encoder: true
    model:
      name_or_path: /cache/models
      arch: qwen_image
      quantize: false
      qtype: float8
      quantize_te: false
      low_vram: false
meta:
  name: qwen_image_lora
  version: '1.0'
